*{
    font-family: Courier New,serif;
    font-weight: 500;
}
.logo{
    height: 100px!important;
    margin-bottom: 5px;
}
body > div{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
table{
    width: 100% !important;
}
.half-width{
    width: 50% !important;
}
.full-width{
    width: 100% !important;
}
table > tbody > .bordered-tr > td{
    border: 1px solid #dee2e6!important;
    padding: 1%;
}
.bordered-table > tbody > tr > td{
    border: 1px solid #dee2e6!important;
    padding: 1%;
}
.no-border-tr{
    border: 1px solid #fff!important;
}
h4.commercial_invoice{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
h4.headers{
    font-size: 14px;
    font-weight: bold;
}
table > thead > tr > th{
    font-weight: bold;
    background: #EEEEEE;
    text-align: center;
}
.ref-table{
    font-size: 14px!important;
}
p{
    margin-bottom: 0!important;
    font-size: 14px!important;
}
.table > tbody > tr > td{
    font-size: 14px!important;
    text-align: center;
}

.table td, .table th {
    padding: .50rem!important;
}