*{
    font-family: Courier New,serif;
    font-weight: 500;
}
.logo{
    height: 130px!important;
    margin-bottom: 5px;
}
body > div{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
p{
    margin-bottom: 0!important;
    font-size: 14px!important;
}
table{
    width: 100% !important;
}
.header-contact > p{
    font-weight: bold!important;
}
table > tbody > .bordered-bottom-tr > td{
    border-bottom: 1px solid #555555!important;
    padding: 1%;
}
.full-width{
    width: 100% !important;
}
h3{
    font-size: 14px!important;
    font-weight: bold!important;
}